<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>877126258962-b51q43p1qsp2f5v1od4jekrnsc9m27pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877126258962-b51q43p1qsp2f5v1od4jekrnsc9m27pj</string>
	<key>API_KEY</key>
	<string>AIzaSyCrGFwN35KSLF3Y52kyMPpiPTapR-l1qQY</string>
	<key>GCM_SENDER_ID</key>
	<string>877126258962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MyChatApp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp2-7a0a2</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp2-7a0a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:877126258962:ios:e31bb2d70238c106</string>
	<key>DATABASE_URL</key>
	<string>https://mychatapp2-7a0a2.firebaseio.com</string>
</dict>
</plist>